


body, html {
  height: 100%; margin: 0;
  background-color: #A9A9A9;
}

header{
  background-color: white;
  color: black;
  text-shadow:
  text-align:left;
  font-family: "Bebas+Neue&display=swap";
  font-size: 63px;
  font-style:
  font-weight:
  padding: 40px 10px 10px 10px;
}

footer{
    font-family:"Poppins";
     background-color: white;
     border-top: black solid;
     border-bottom: black solid;

}
